*{
 padding:0;
 margin:0;
 box-sizing:border-box;
}

nav{
    background:#7761a7;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;   
}

#logo{
  width:50px;
  border-radius:50%;
}

nav div{
    width:auto;
    height:20px;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    color:white;
    font-size:20px;
}

.company img{
    border:1px solid #79d0bd;
    border-radius:50%;
    margin:5px;
}

.company{
    border:2px solid #79d0bd ;
    border-radius:20px;
    padding:12px;
    margin:10px;
}
