#home-container{
  border:1px solid black;
  margin:auto;
  width:740px;
  height:500px;
  border-radius:20px;
  display:flex;
  flex-direction:row;
  justify-content:start;
  row-gap: 100px;
  flex-wrap:wrap;
  padding:20px;
  gap:1px;
  overflow: auto;
}

#home-container::-webkit-scrollbar{
  display:none;
}
#add{
 border:1px solid black;
 border-radius:50%;
 position:fixed;
 right:25%;
 bottom:16%;
 width:50px;
 height:50px;
 display:flex;
 justify-content:center;
 align-items:center;
 text-decoration:none;
}

.block{
  border:1px solid black;
  border-radius:20px;
  width:300px;
  height:300px;
  padding:10px; 
  text-decoration:none; 
  margin:20px;
}